.homecss {
  width: 150px;
}
.nameCss {
  color: #551e53;
  font-size: 30px;
}
.totalCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.para {
  font-size: 17px;
  font-family: 'Roboto';
}
