* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.TotalBG {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.contentBG {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 5px solid #6d396b;
  border-radius: 20px;
  height: 80vh;
}
.navEl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
}
.navText {
  font-size: 17px;
  font-family: 'roboto';
  color: #12022f;
  font-weight: bold;
}
.logo {
  width: 19px;
  margin-right: 5px;
}
.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.akil {
}
.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.innerDiv {
  width: 100%;
  height: 100%;
}
